:root {
  --primary: #5c62ec;
  --hover: #3c40ae;
  --highlight: #85bfd1;
  --grey: #a0a0a1;
  --fillilng: #1c1e22;
  --border: #26292d;
  --bg: #171718;
}

.primary {
  color: var(--primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 5rem;
  background-color: var(--bg);
  border-bottom: 2px solid var(--border);
  z-index: 100;
}

.nav-link{
  text-decoration: none;
}

.nav-link:first-child {
  font-size: 24px;  
}

.nav-link.active {
 color: var(--highlight);
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  background-color: var(--bg);
}

.nav-btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.nav-name {
  display: none;
}

.hero-container {
  margin-top: 10rem;
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-content > p {
  font-size: 20px;
}

.hero-title {
  font-size: 60px;
  text-align: center;
  text-decoration: none;
}

.hero-name:hover {
  color: var(--hover);
}

.hero-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 48px;
  width: 169px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 16px 20px;
  cursor: pointer;
  transition: transform 0.2s;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1.05);
}

.btn--m {
  width: 218px;
}

.btn--l {
  width: 286px;
}

.btn--xl {
  width: 328px;
}

.btn--xxl {
  width: 399px;
}

.btn--blue {
  background-color: var(--primary);

}

.btn--blue:hover {
  background-color: var(--hover);
}

.btn--outline {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.btn--outline:active {
  background-color: var(--border);
  border: 2px solid var(--grey);
}

.btn > .icon {
  background-color: transparent;
}

.about-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}

.about-card {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--fillilng);
  padding: 1rem;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

.about-card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.about-card-me {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 16px;
}

.about-card-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
}

.about-card-p {
  line-height: 28px;
  margin-bottom: 1rem;
}

.footer-container {
  padding: 5rem;
  padding-bottom: 0;

}

.footer {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.footer-subsection {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

.footer-subsection > a {
  text-decoration: none;
}

.footer-title {
  font-size: 24px;
  text-decoration: none;
  font-weight: 600;
  line-height: 32px;
}

.footer-header {
  color: var(--highlight);
  text-decoration: none;
}

.footer-subsection:last-child {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.copyright {
  font-size: 12px;
  margin: 2rem 0;
}

.social-icons-container > a > img{
  width: 36px;
  height: 34px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.projects-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  text-align: left;
  width: 100%;
  max-width: 1155px;
}

.single-project-container {
  max-width: 1155px;
  max-height: 534px;
  position: relative;
  margin: 1rem 3rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background: rgb(28,30,34);
  background: linear-gradient(0deg, rgba(28,30,34,1) 0%, rgba(255,174,0,0) 100%);
  transition: opacity 0.3s;
}

.project-info:hover {
  opacity: 0;
}

.project-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
}

.tech-stack-container {
  display: flex;
  gap: 0.5rem;
}

.tech {
  border-radius: 3px;
  padding: 3px 5px;
  background-color: #ffffff1a;
}

/* ======================== Media queries ======================== */
@media only screen and (max-width: 767px) {
  .navbar {
    height: 3rem;
  }

  .nav-btn {
    display: block;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(-100vh);
    transition: transform 0.2s;
    font-size: 14px;
  }

  .nav.responsive-nav {
    transform: translateY(0);
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    margin: 15px;
    padding: 2px;
  }

  .responsive-nav > .nav-name {
    display: block;
  }

  .responsive-nav > .nav-name {
    font-size: 24px;
    font-weight: 600px;
    line-height: 32px;
    color: var(--highlight);
    margin: 16px;
    width: 90%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid var(--border);
  }

  .active {
    font-weight: bolder;
    font-size: 16px;
    border-bottom: 1px solid var(--highlight);
    border-top: 1px solid var(--highlight);
  }

  .nav-close-btn {
    position: fixed;
    right: 12px;
    top: 12px;
  }

  .hero-container {
    padding-top: 3rem;
    margin: auto;
    max-width: 357px;
  }

  .hero-content {
    gap: 1rem;
  }

  .hero-title {
    font-size: 34px;
  }

  .hero-button-container {
    flex-direction: column;
  }
  
  .about-card {
    grid-auto-flow: row;
    align-items: center;
  }

  .about-card-img-container {
    margin: auto;
  }

  .about-card-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }
  
  .about-card-p {
    line-height: 28px;
  }
  
  .footer {
    display: grid;
    grid-auto-flow: row;
  }

  .project-info {
    opacity: 0;
  }
}
